.landing {
  padding-bottom: 60px;
  /** General Styles */
  /** End General Styles */ }
  .landing {
    background: #002c54;
    /* Old browsers */
    background: -moz-linear-gradient(left, #002c54 0%, #105dad 50%, #00a1c5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #002c54 0%, #105dad 50%, #00a1c5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #002c54 0%, #105dad 50%, #00a1c5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient_left', endColorstr='$gradient_right',GradientType=1 );
    /* IE6-9 */
    font-family: 'Titillium Web', sans-serif;
    color: white; }
  .landing .text-bold {
    font-weight: bold;
    letter-spacing: 1px; }
  .landing .text-italic {
    font-style: italic; }
  .landing .text-green {
    color: #8fc741; }
  .landing .center-block {
    float: none; }
  .landing h1 {
    color: #8fc741;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: bold; }
  .landing h2 {
    font-style: italic;
    font-weight: 300;
    font-size: 70px; }
  .landing h3 {
    color: #083157;
    font-weight: bold;
    font-size: 40px; }
    .landing h3::before {
      content: '';
      display: block;
      height: 14px;
      width: 68px;
      background-image: url("/img/heading-decoration.png");
      background-position: center center;
      background-repeat: no-repeat; }
  .landing h4 {
    color: #0a65c3;
    font-weight: bold;
    font-size: 25px; }
  .landing h5 {
    color: #083157;
    font-weight: bold;
    font-size: 25px; }
  .landing h6 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px; }
  .landing p, .landing li {
    font-size: 16px; }
  .landing a {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px; }
    .landing a:hover {
      text-decoration: none; }
  .landing .btn-link {
    display: inline-block;
    color: white;
    background-color: #ff6000;
    padding: 10px 50px;
    font-size: 14px; }
    .landing .btn-link.full-width {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center; }
    .landing .btn-link::after {
      content: '+'; }
  .landing code {
    font-family: "Courier New", Courier, monospace;
    color: black;
    background: none; }
  .landing hr {
    border-top-color: #9b9b9b; }
  .landing .header-strip {
    height: 16px;
    background: #00a1c5;
    /* Old browsers */
    background: -moz-linear-gradient(left, #00a1c5 0%, #105dad 50%, #002c54 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00a1c5 0%, #105dad 50%, #002c54 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00a1c5 0%, #105dad 50%, #002c54 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient_right', endColorstr='$gradient_left',GradientType=1 );
    /* IE6-9 */ }
  .landing header .main-nav {
    display: flex;
    padding: 30px 0;
    align-items: center; }
    .landing header .main-nav .nav-items {
      flex-grow: 1;
      margin: 0;
      text-align: right;
      font-size: 16px; }
      .landing header .main-nav .nav-items li {
        display: inline-block;
        text-transform: uppercase;
        vertical-align: middle; }
        .landing header .main-nav .nav-items li a {
          color: white; }
          .landing header .main-nav .nav-items li a::after {
            content: none; }
      .landing header .main-nav .nav-items li ~ li {
        margin-left: 25px; }
    .landing header .main-nav .supported-codes > * {
      vertical-align: middle; }
  .landing .nav-takeover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    padding-top: 160px;
    background: #00a1c5;
    /* Old browsers */
    background: -moz-linear-gradient(left, #00a1c5 0%, #105dad 50%, #002c54 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00a1c5 0%, #105dad 50%, #002c54 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00a1c5 0%, #105dad 50%, #002c54 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient_right', endColorstr='$gradient_left',GradientType=1 );
    /* IE6-9 */ }
    .landing .nav-takeover .nav-takeover-close {
      position: absolute;
      top: 40px;
      right: 40px; }
    .landing .nav-takeover .nav-takeover-content {
      width: 100%;
      text-align: center; }
      .landing .nav-takeover .nav-takeover-content ul {
        padding: 0;
        margin: 0;
        list-style-type: none; }
        .landing .nav-takeover .nav-takeover-content ul a {
          font-size: 56px;
          font-weight: normal;
          text-transform: none;
          color: #4cdfff; }
          .landing .nav-takeover .nav-takeover-content ul a:hover {
            color: white; }
  .landing .intro {
    text-align: center;
    margin-bottom: 160px; }
    .landing .intro::before {
      content: '';
      display: inline-block;
      height: 5px;
      width: 200px;
      background-color: white; }
    .landing .intro p {
      font-size: 24px; }
    .landing .intro .btn-link {
      margin-top: 25px;
      padding: 10px 75px;
      font-size: 17px; }
  .landing .header-decoration {
    background-color: white;
    height: 54px; }
  .landing .content-block {
    padding: 64px 0 128px 0;
    color: black; }
    .landing .content-block a::after {
      content: ' +'; }
    .landing .content-block .gradient-rule {
      height: 6px;
      border: none;
      background: #00a1c5;
      /* Old browsers */
      background: -moz-linear-gradient(left, #00a1c5 0%, #105dad 50%, #002c54 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #00a1c5 0%, #105dad 50%, #002c54 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #00a1c5 0%, #105dad 50%, #002c54 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
      .landing .content-block .gradient-rule.light {
        background: white;
        /* Old browsers */
        background: -moz-linear-gradient(left, white 0%, #7fd0e2 50%, #0098c3 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, white 0%, #7fd0e2 50%, #0098c3 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, white 0%, #7fd0e2 50%, #0098c3 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient_left_light', endColorstr='$gradient_right_light',GradientType=1 );
        /* IE6-9 */ }
  .landing .simulations {
    background-color: white; }
    .landing .simulations .simulation-items img {
      width: 100%; }
    .landing .simulations .simulation-links > div {
      display: flex;
      justify-content: space-between; }
    .landing .simulations .simulation-links a {
      width: calc(50% - 10px);
      padding: 10px 0;
      background-color: #ff6000;
      color: white;
      text-align: center; }
  .landing .explore {
    background-color: #d9f1f6; }
    .landing .explore a {
      color: #ff6000; }
    .landing .explore .explore-items > article:nth-child(2n + 1) {
      clear: both; }
  .landing .news-announcements {
    background-color: white; }
    .landing .news-announcements .news-announcements-items > article {
      background-color: #e5e5e5;
      padding: 35px; }
      .landing .news-announcements .news-announcements-items > article a {
        color: #ff6000; }
      .landing .news-announcements .news-announcements-items > article ~ article {
        margin-top: 12px; }
  .landing .discover {
    background-color: white;
    background-image: url("/img/discover-bg.jpg");
    background-position: left bottom;
    background-repeat: no-repeat; }
    .landing .discover .discover-item {
      position: relative; }
      .landing .discover .discover-item img {
        width: 100%; }
    .landing .discover .discover-item ~ .discover-item {
      margin-top: 40px; }
      .landing .discover .discover-item ~ .discover-item::before {
        content: '';
        display: block;
        border-top: 1px solid #9b9b9b;
        margin: 0 15px 40px 15px; }
  .landing .perks {
    background-color: #d9f1f6;
    background-image: url("/img/perks-bg.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-blend-mode: multiply; }
    .landing .perks .perks-items {
      text-align: center; }
  .landing .get-started {
    background-color: #0a65c3;
    color: white; }
    .landing .get-started h3, .landing .get-started h4, .landing .get-started p {
      color: white; }
    .landing .get-started h3::before {
      background-image: url("/img/heading-decoration-dark.png"); }
    .landing .get-started img {
      width: calc(100% - 8px);
      box-shadow: 8px 8px rgba(8, 49, 87, 0.5); }
    .landing .get-started .get-started-intro {
      position: relative; }
      .landing .get-started .get-started-intro .get-started-next,
      .landing .get-started .get-started-intro .get-started-prev {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        cursor: pointer; }
        .landing .get-started .get-started-intro .get-started-next::after,
        .landing .get-started .get-started-intro .get-started-prev::after {
          content: '';
          position: absolute;
          margin-top: -50px;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent; }
      .landing .get-started .get-started-intro .get-started-next {
        border-left: 30px solid #74a7d6;
        right: -65px; }
        .landing .get-started .get-started-intro .get-started-next::after {
          left: -31px;
          border-left: 30px solid #0a65c3; }
      .landing .get-started .get-started-intro .get-started-prev {
        border-right: 30px solid #74a7d6;
        left: -65px; }
        .landing .get-started .get-started-intro .get-started-prev::after {
          right: -31px;
          border-right: 30px solid #0a65c3; }
    .landing .get-started .get-started-steps {
      display: flex;
      justify-content: space-between; }
    .landing .get-started i {
      display: inline-block;
      font-style: normal;
      color: white;
      background-color: #00a2c5;
      height: 60px;
      width: 60px;
      line-height: 60px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      border-radius: 30px;
      cursor: pointer; }
      .landing .get-started i.active {
        color: #0a65c3;
        background-color: white; }
    .landing .get-started .simulation-demos-intro {
      margin-top: 60px; }
      .landing .get-started .simulation-demos-intro::before {
        content: '';
        display: block;
        border-top: 1px solid #3475b0;
        margin: 0 15px 40px 15px; }
    .landing .get-started .simulation-demos {
      margin-top: 20px; }
      .landing .get-started .simulation-demos a {
        margin-top: 25px; }
  .landing .publications {
    background-color: white;
    padding-bottom: 40px; }
    .landing .publications ul {
      list-style: none;
      padding-left: 20px; }
      .landing .publications ul li::before {
        content: "\2022";
        color: #00a2c5;
        display: inline-block;
        font-weight: bold;
        width: 20px;
        margin-left: -20px; }
      .landing .publications ul li ~ li {
        margin-top: 10px; }
  .landing .doe-footer {
    background-color: white;
    padding-bottom: 80px; }
    .landing .doe-footer .doe-footer-content {
      padding-top: 20px;
      display: flex;
      align-items: center; }
      .landing .doe-footer .doe-footer-content p {
        flex-grow: 1;
        margin: 0 0 0 45px;
        font-size: 12px;
        color: #9b9b9b; }
  .landing footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/img/footer-bg.jpg");
    background-color: #666666;
    background-blend-mode: multiply;
    padding: 55px;
    color: #e5e5e5; }
    .landing footer * {
      margin: 0; }
    .landing footer .footer-sirepo {
      margin-right: 25px; }
    .landing footer .footer-nav ul {
      padding: 0;
      text-align: center; }
    .landing footer .footer-nav li {
      display: inline-block; }
      .landing footer .footer-nav li a {
        color: #e5e5e5;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px; }
    .landing footer .footer-nav li ~ li {
      margin-left: 10px; }
    .landing footer .footer-radiasoft {
      flex-grow: 1;
      text-align: right;
      color: #9b9b9b; }
      .landing footer .footer-radiasoft p {
        margin-top: 10px; }

/*# sourceMappingURL=landing.css.map */
