$green: #8fc741;
$blue_dark: #083157;
$blue_medium: #0a65c3;
$blue_light: #d9f1f6;
$blue_nav: #4cdfff;
$orange: #ff6000;
$gray_light: #e5e5e5;
$gray_medium: #9b9b9b;
$gray_dark: #666666;

$gradient_left: #002c54;
$gradient_right: #00a1c5;
$gradient_center: #105dad;

.landing {
  padding-bottom: 60px;

  & {
    background: $gradient_left; /* Old browsers */
    background: -moz-linear-gradient(left, $gradient_left 0%, $gradient_center 50%, $gradient_right 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $gradient_left 0%,$gradient_center 50%,$gradient_right 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $gradient_left 0%,$gradient_center 50%,$gradient_right 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient_left', endColorstr='$gradient_right',GradientType=1 ); /* IE6-9 */

    font-family: 'Titillium Web', sans-serif;
    color: white;
  }

  /** General Styles */
  .text-bold {
    font-weight: bold;
    letter-spacing: 1px;
  }

  .text-italic {
    font-style: italic;
  }

  .text-green {
    color: $green;
  }

  .center-block {
    float: none;
  }

  h3 {
    color: $blue_dark;
    font-weight: bold;
    font-size: 40px;

    &::before {
      content: '';
      display: block;
      height: 14px;
      width: 68px;

      background-image: url('/img/heading-decoration.png');
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  h4 {
    color: $blue_medium;
    font-weight: bold;
    font-size: 25px;
  }

  h5 {
    color: $blue_dark;
    font-weight: bold;
    font-size: 25px;
  }

  p {
    font-size: 16px;
  }

  a {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
    }
  }
  /** End General Styles */

  .header-strip {
    height: 16px;

    background: $gradient_right; /* Old browsers */
    background: -moz-linear-gradient(left, $gradient_right 0%, $gradient_center 50%, $gradient_left 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient_right', endColorstr='$gradient_left',GradientType=1 ); /* IE6-9 */
  }

  header {
    .main-nav {
      display: flex;
      padding: 30px 0;
      align-items: center;

      .nav-items {
        flex-grow: 1;
        margin: 0;

        text-align: right;
        font-size: 16px;

        li {
          display: inline-block;
          text-transform: uppercase;

          a {
            color: white;

            &::after {
              content: none;
            }
          }
        }

        li ~ li {
          margin-left: 25px;
        }
      }

      .supported-codes > * {
        vertical-align: middle;
      }
    }
  }

  .nav-takeover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    padding-top: 160px;

    background: $gradient_right; /* Old browsers */
    background: -moz-linear-gradient(left, $gradient_right 0%, $gradient_center 50%, $gradient_left 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient_right', endColorstr='$gradient_left',GradientType=1 ); /* IE6-9 */

    .nav-takeover-close {
      position: absolute;
      top: 40px;
      right: 40px;
    }

    .nav-takeover-content {
      width: 100%;
      text-align: center;

      h6 {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 16px;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        a {
          font-size: 56px;
          font-weight: normal;
          text-transform: none;
          color: $blue_nav;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .intro {
    text-align: center;
    margin-bottom: 160px;

    &::before {
      content: '';

      display: inline-block;

      height: 5px;
      width: 200px;

      background-color: white;
    }

    h2 {
      font-style: italic;
      font-weight: 300;
      font-size: 70px;
    }

    p {
      font-size: 24px;
    }
  }

  .header-decoration {
    background-color: white;
    height: 54px;
  }

  .content-block {
    padding: 64px 0 128px 0;
    color: black;

    a::after {
      content: ' +';
    }

    .gradient-rule {
      height: 6px;
      border: none;

      background: $gradient_right; /* Old browsers */
      background: -moz-linear-gradient(left, $gradient_right 0%, $gradient_center 50%, $gradient_left 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  .simulations {
    background-color: white;

    .simulation-items {
      img {
        width: 100%;
      }
    }

    .simulation-links {
      & > div {
        display: flex;
        justify-content: space-between;
      }

      a {
        width: calc(50% - 10px);
        padding: 10px 0;

        background-color: $orange;
        color: white;
        text-align: center;
      }
    }
  }

  .explore {
    background-color: $blue_light;

    a {
      color: $orange;
    }

    .explore-items {
      & > article:nth-child(2n + 1) {
        clear: both;
      }
    }
  }

  .news-announcements {
    background-color: white;

    .news-announcements-items {
      & > article {
        background-color: $gray_light;
        padding: 35px;

        a {
          color: $orange;
        }

        & ~ article {
          margin-top: 12px;
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: url('/img/footer-bg.jpg');
    background-color: $gray_dark;
    background-blend-mode: multiply;

    padding: 55px;

    color: $gray_light;

    * {
      margin: 0;
    }

    .footer-sirepo {
      margin-right: 25px;
    }

    .footer-nav {
      ul {
        padding: 0;
        text-align: center;
      }

      li {
        display: inline-block;

        a {
          color: $gray_light;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }

      li ~ li {
        margin-left: 10px;
      }
    }

    .footer-radiasoft {
      flex-grow: 1;
      text-align: right;
      color: $gray_medium;

      p {
        margin-top: 10px;
      }
    }
  }
}